header {
  background-color: #404652;
}

.header {
  width: 100%;
  font-size: 24px;
  height: 50px;
  display: flex;
  color: white;
}

a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.header-words {
  align-self: center;
  margin-left: 10px;
  font-weight: 100;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #edebed;
}

.picture-frame {
  width: 100%;
  max-height: 400px;
}

.wrap {
  flex: wrap;
}

form,
.entries {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

input,
textarea {
  width: 100%;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #d5d4d5;
  border-width: 1px;
}

input {
  height: 35px;
}

textarea {
  height: 150px;
}

label {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.button-style {
  margin-top: 15px;
  background-color: #404652;
  color: white;
  border-style: hidden;
  border-radius: 3px;
  padding: 8px;
}

.entries-button-style {
  margin-top: 15px;
  background-color: #404652;
  color: white;
  border-style: hidden;
  border-radius: 3px;
  padding: 10px 18px;
  font-size: 18px;
}

.text-align-right {
  text-align: right;
}

input:focus,
textarea:focus {
  outline-style: inset;
  outline-color: #404652;
  box-shadow: 0 0 10px #404652;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 0;
}

li {
  margin-bottom: 30px;
}

.note {
  line-height: 1.7rem;
}

h2 {
  margin-top: 0;
}

.margin-bot-30 {
  margin-bottom: 15px;
}

.text-align-center {
  text-align: center;
}

.font-size-20 {
  font-size: 20px;
}

.col-half-always {
  width: 50%;
}

.align-self-center {
  align-self: center;
}

.margin-bot-10 {
  margin-bottom: 10px;
}

.pencil-style {
  text-align: right;
  font-size: 25px;
  color: #404652;
}
